<nav class="nav">
  <li class="nav-item"><a class="nav-link" routerLink="/">Back To Dictionaries</a></li>
</nav>

<h3>{{ actions.title | async }}</h3>
<p>{{ actions.description | async }}</p>
<form class="form-inline">
  <input type="text" name="domain" [(ngModel)]="model.domain" name="domain" required class="form-control mb-2 mr-sm-2 mb-sm-0"
    id="domain" placeholder="Domain" />
  <input type="text" name="range" [(ngModel)]="model.range" required class="form-control mb-2 mr-sm-2 mb-sm-0" id="range" placeholder="Range" />
  <button type="button" class="btn btn-primary" (click)="addItem()">Submit</button>
</form>

<div *ngIf="!isValid">
  <p>
    <div class="alert alert-danger" role="alert">Both fields are required</div>
  <p>
</div>

<br />
<table class="table">
  <thead>
    <tr>
      <th>Domain</th>
      <th>Range</th>
      <th></th>
      <th class="conflicts">Conflicts</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of actions.valuesMapped | async; let i = index; trackBy: trackById;">
      <td>{{ value.domain }}</td>
      <td>{{ value.range }}</td>
      <td class="col-delete"><button (click)="deleteItem(i)">X</button></td>
      <td class="conflicts">
        <div class="conflict" *ngIf="value.problem && value.problem !== ''" [ngClass]="{
          'card-success': value.problem === 1,
          'card-info': value.problem === 2,
          'card-warning': value.problem === 3,
          'card-danger': value.problem === 4}">
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="separator"></div>
<h4>Possible problems</h4>
<div class="legend">
  <div class="problem-holder"><div class="problem card-success"></div><span class="text">Duplicate Domains and Ranges</span></div>
  <div class="problem-holder"><div class="problem card-info"></div><span class="text">Duplicate Domains</span></div>
  <div class="problem-holder"><div class="problem card-warning"></div><span class="text">Cycles</span></div>
  <div class="problem-holder"><div class="problem card-danger"></div><span class="text">Chains</span></div>
</div>